
<div class="row" class="col-xs-12">
  <div class="container">
    <h2>Course Details of {{ course?.title }}</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Category
          </th>
          <th>
            Detail
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Title</td>
          <td>{{ course?.title }}</td>
        </tr>
        <tr>
          <td>Content</td>
          <td>{{ course?.content }}</td>
        </tr>
        <tr>
          <td>Professor</td>
          <td>{{ course?.professor.profile.name }}</td>
        </tr>
        <tr>
          <td>Year</td>
          <td>{{ course?.year }}</td>
        </tr>
        <tr>
          <td>Semester</td>
          <td>{{ course?.semester }}</td>
        </tr>
        <tr *ngIf="course?.attachments" (click)="downloadAttachment()">
          <td>Attachments</td>
          <td>{{ course?.attachments.split('/').pop() }}</td>
        </tr>
        <tr *ngFor="let assignment of course?.assignment_set" [routerLink]="['assignments', assignment.id]">
          <td>Assignment</td>
          <td>{{ assignment.title }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <button class="btn btn-info" [routerLink]="['edit']" *ngIf="course?.professor.profile.username == profile?.username">강좌 수정하기</button>
  <button class="btn btn-danger" (click)="onDelete()" *ngIf="course?.professor.profile.username == profile?.username">강좌 삭제하기</button>
  <button class="btn btn-secondary" [routerLink]="['assignments', 'add']" *ngIf="course?.professor.profile.username == profile?.username">과제생성</button>
  <button class="btn btn-secondary" (click)="showRegister()" *ngIf="course?.professor.profile.username !== profile?.username && !profile?.is_prof">신청하기</button>
</div>

<div class="row">
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()" *ngIf="registerForm && isRegister" class="col-xs-12">

    <!--url-->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="url">url</label>
          <input
            type="text"
            id="url"
            formControlName="url"
            class="form-control">
        </div>
      </div>
    </div>

    <!--submit&cancel-->
    <div class="row">
      <div class="col-xs-12">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!courseForm.valid">Save</button>
        <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
      </div>
    </div>

  </form>
</div>


<router-outlet></router-outlet>
