
<div class="row" class="col-xs-12">
  <div class="container">
    <h2>Course Details of {{ course?.title }}</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Category
          </th>
          <th>
            Detail
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Title</td>
          <td>{{ course?.title }}</td>
        </tr>
        <tr>
          <td>Content</td>
          <td>{{ course?.content }}</td>
        </tr>
        <tr>
          <td>Professor</td>
          <td>{{ course?.professor.profile.name }}</td>
        </tr>
        <tr>
          <td>Year</td>
          <td>{{ course?.year }}</td>
        </tr>
        <tr>
          <td>Semester</td>
          <td>{{ semester }}</td>
        </tr>
        <tr *ngIf="course?.attachments" (click)="downloadAttachment()">
          <td>Attachments</td>
          <td>{{ course?.attachments.split('/').pop() }}</td>
        </tr>
        <ng-container *ngIf="alreadyRegistered || profile?.username == course?.professor.profile.username">
          <tr *ngFor="let assignment of course?.assignment_set" [routerLink]="['assignments', assignment.id]">
            <td>Assignment</td>
            <td>{{ assignment.title }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

<div class="row" *ngIf="profile?.username == course?.professor.profile.username">
  <div class="container">
    <div *ngFor="let item of course?.repository_set" class="col-xs-12">
      <button type="button" class="btn btn-success" *ngIf="!item.is_verified" (click)="verifyStudent(item.id)">
        Accept {{ item.student.profile.sid }} {{ item.student.profile.name }}
      </button>
    </div>
  </div>
</div>

<div class="row">
  <button class="btn btn-info" [routerLink]="['edit']" *ngIf="course?.professor.profile.username == profile?.username">Edit Course</button>
  <button class="btn btn-danger" (click)="onDelete()" *ngIf="course?.professor.profile.username == profile?.username">Delete Course</button>
  <button class="btn btn-secondary" [routerLink]="['assignments', 'add']" *ngIf="course?.professor.profile.username == profile?.username">Make Assignment</button>
  <button class="btn btn-secondary" (click)="showRegister()" *ngIf="!alreadyRegistered && !profile?.is_prof">Register Course</button>
</div>

<div class="row">
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()" *ngIf="registerForm && isRegister" class="col-xs-12">

    <!--url-->
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="url">github repository</label>
          <input
            type="text"
            id="url"
            formControlName="url"
            class="form-control">
          <div *ngIf="!url.valid" class="error">Type only name of your repository</div>
        </div>
      </div>
    </div>

    <!--submit&cancel-->
    <div class="row">
      <div class="col-xs-12">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!registerForm.valid"
        >Save</button>
        <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
      </div>
    </div>

  </form>
</div>


<router-outlet></router-outlet>
