<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="courseForm" (ngSubmit)="onSubmit()" enctype='multipart/form-data'>
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!courseForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="title">title</label>
            <input
              type="text"
              id="title"
              formControlName="title"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <a [routerLink]="['/', course.attachments]">aaasdf</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="attachments">Attachments URL</label>
            <input
              type="file"
              id="attachments"
              formControlName="attachments"
              class="form-control"
              (change)="fileChange($event)"
              #attachments>
          </div>
        </div>
      </div>
      <!--<div class="row">-->
        <!--<div class="col-xs-12">-->
          <!--<img [src]="attachments.value" class="img-responsive">-->
        <!--</div>-->
      <!--</div>-->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="content">content</label>
            <textarea
              type="text"
              id="content"
              class="form-control"
              formControlName="content"
              rows="6"></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
