<div class="row">
  <div class="col-xs-12">

    <form [formGroup]="courseForm" (ngSubmit)="onSubmit()" enctype='multipart/form-data'>

      <!--submit&cancel-->
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!courseForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>

      <!--title-->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="title">title</label>
            <input
              type="text"
              id="title"
              formControlName="title"
              class="form-control">
          </div>
        </div>
      </div>

      <!--year-->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="year">year</label>
            <input
              type="number"
              id="year"
              class="form-control"
              formControlName="year">
          </div>
        </div>
      </div>

      <!--semester-->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="semester">semester</label>
            <select [(ngModel)]="course.semester" formControlName="semester" id="semester" class="form-control">
              <option
                *ngFor="let obj of SEMESTER"
                [value]="obj.value"
                [attr.selected]="obj.value == course.semester ? true : null">
                {{ obj.name }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <!--content-->
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="content">content</label>
            <textarea
              rows="8"
              cols="30"
              id="content"
              class="form-control"
              formControlName="content"></textarea>
          </div>
        </div>
      </div>

      <!-- attachments -->
      <div class="row" *ngIf="course.attachments">
        <div class="col-xs-12">
          Current File
          <a href="{{ course.attachments }}">{{ course.attachments.split('/').pop() }}</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="attachments">New File</label>
            <input
              type="file"
              id="attachments"
              formControlName="attachments"
              class="form-control"
              (change)="fileChange($event)"
              #attachments>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>
