<div class="row">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 col-md-offset-6 col-lg-offset-6 col-xl-offset-6">
    <div class="search">
      <input id="searchInput" type="text" placeholder="Search for course" #searchInput>
      <i class="ion-ios-search-strong" (click)="courseSearch(searchInput.value)"></i>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
    <div *ngFor="let item of course">
      <a [routerLink]="[item.id]">{{ item.title }}</a>
    </div>
  </div>
</div>

<div class="row" *ngIf="profile">
  <button class="btn btn-success" [routerLink]="['add']" *ngIf="profile.is_prof">과제 추가하기</button>
</div>


<router-outlet></router-outlet>
